[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain-openai = "*"
black = "*"
requests = "*"
langchain = "*"
python-dotenv = "*"
langchainhub = "*"
google-search-results = "*"
tweepy = "*"
ntscraper = "*"
pandas = "*"
langchain-community = "*"
flask = "*"
pinecone-client = "*"
tiktoken = "*"
pypdf = "*"
faiss-cpu = "*"
beautifulsoup4 = "*"
unstructured = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"
langchain-experimental = "*"
qrcode = "*"

[dev-packages]

[requires]
python_version = "3.11"
