[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
openai = "*"
langchain-openai = "*"
black = "*"
requests = "*"
langchain = "*"
python-dotenv = "*"
langchainhub = "*"
google-search-results = "*"
tweepy = "*"
ntscraper = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
